.boja{
    background-color: red
}
    container{
        text-align:center
};

    .tabel{
        width: 100%;
        text-align: center;
        padding: 10px;
        border: 1px solid wheat;
        border-collapse: collapse;
    }
    td{
        padding: 10px;
        border: 2px solid rgb(150, 4, 4);
        border-collapse: collapse;
    }
    
